body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpeg); 
    background-color: #f4f4f9;
  }
  
  header {
    background-color: #4c9baf;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    max-width: 100px;
    margin-right: 15px;
  }
  
  .container {
    max-width: 800px;
    margin: 10px auto;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #4c9baf;
    color: white;
  }
  
  button {
    padding: 7px 10px;
    background-color: #4c9baf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3b8b96;
  }
  
  .form-section {
    display: none;
    margin-top: 10px;
  }
  