body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(gambar.jpeg); 
    background-color: #f4f4f9;
  }
  header {
    background-color: #4c9baf;
    color: white;
    padding: 10px;
    text-align: center;
  }
  .container {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    color: #333;
  }
  label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
  }
  input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  button {
    background-color: #4c9baf;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #3b8b96;
  }
  
  .btn-keluar {
    background-color: #f44336;
  }
  .btn-keluar:hover {
    background-color: #d32f2f;
  }
  .output {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9f7fb;
    border-radius: 6px;
    /* display: none; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .output ul {
    list-style: none;
    padding: 0;
  }
  .output li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }



  